---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer pk_test_4RJyeK2OO0YGftkt2tcCCtG3
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14Iq2s4P9PjYyYg2biieeKIk",
          "livemode": false,
          "created": 1405984694,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14Iq2s4P9PjYyYg2OoWbLnzB",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "4yWzT11HwdFfDH85",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Mon, 21 Jul 2014 23:18:14 GMT
recorded_with: VCR 2.9.2
