---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4RJy4KNnnymXTwu6ZRMpoYpz
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14IrHN4P9PjYyYg2SWL1wE6o",
          "livemode": false,
          "created": 1405989437,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14IrHN4P9PjYyYg2mv9MCxif",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "NIvbYUiPtLBcenbD",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 22 Jul 2014 00:37:18 GMT
recorded_with: VCR 2.9.2
